.background {
	font-family: arial;
}

ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.top-button {
	display: inline;
}

.top-right {
	float: right;
	margin-right: 10px;
}

#logo {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	max-width: 272px;
	height: auto;
}

#search-bar {
	display: block;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	width: 60vw;
	height: 36px;
	border-radius: 20px;
}

#container {
	justify-content: center;
	text-align: center;
	position: relative;
}

.search-button {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 5px 7px 5px 7px;
}

@media screen and (max-width: 480px) {
	
}